# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Email (SMTP Hostinger)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=liderweb@multitrackgospel.com
SMTP_PASS=
MAIL_FROM=liderweb@multitrackgospel.com
MAIL_FROM_NAME=LiderWeb
